body {
    padding: 100px;
}
.form-campos {
    background-color: rgba(19, 18, 18, 0.726);
    padding: 16px;
    border-radius: 8px;
}
.container button {
    margin-top: 16px;
}
.container h2{
    margin-bottom: 16px
}